<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="img/logo.png">

	<title>Destino - Erasmus</title>

	<!-- Semantic UI -->
	<link rel="stylesheet" type="text/css" href="../Semantic-UI-CSS-master/dist/semantic.min.css">
	<script src="../Semantic-UI-CSS-masters/dist/semantic.min.js"></script>

	<!-- Bootstrap core CSS -->
	<link href="../bootstrap-3.3.6/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="css/carousel.css" rel="stylesheet">
	<link href="css/dashboard.css" rel="stylesheet">
	<!-- Rating (estrellas) -->
	<link href="css/destino.css" rel="stylesheet">

	<style type="text/css">
		#sombra {
			text-shadow: 0.17em 0.17em #333;
			text-align: right;
		}

		#comentario {
			background-color: rgba(192, 192, 192, 0.8);
			text-align: left;
			width: 40%;
		}
	</style>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- NAVBAR
================================================== -->

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Erasmus</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="home.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="addDestiny.html">Nuevo Destino</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Sesión<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Iniciar sesión</a></li>
							<li><a href="#">Registrar</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Modificar perfil</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Cerrar sesión</a></li>
						</ul></li>
				</ul>
				<form class="navbar-form navbar-right" role="search"
					action="search.html" method="GET">
					<div class="ui search">
						<div class="ui icon input">
							<input class="prompt" type="text" placeholder="Carrera..."
								name="navCarrera"> <i class="search icon"></i>
						</div>
						<div class="results"></div>
					</div>
				</form>
			</div>
		</div>
	</nav>


	<!-- Carousel
    ================================================== -->
	<div ng-app="myApp" ng-controller="destinoControl">
		<div ng-repeat="x in myData">
			<div class="carousel slide" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="{{x.Img}}" class="img-responsive">
						<div class="container">
							<div class="carousel-caption" id="sombra">
								<h1>
									<strong>{{x.Universidad}}</strong>
								</h1>
								<p>{{x.Ciudad}}, {{x.Pais}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.carousel -->

			<div class="row featurette">
				<br>
				<br>
				<br>
				<div class="col-md-8 col-md-push-1">
					<h2 class="featurette-heading">
						{{x.Carrera}} <span
							style="font-size: 25px; color: rgb(144, 144, 144);"> |
							{{x.Genero}} | {{x.Idioma}}</span>
					</h2>
					<!--  No para esta iteracion
					<p>
						<span style="font-size: 25px; color: rgb(144, 144, 144);">Valoración
							de Usuarios: </span>
					</p>
					<div class="p_rating">
						<span class="starRating" id="rate"> <input id="rating5"
							type="radio" name="rating" value="5"> <label
							for="rating5">5</label> <input id="rating4" type="radio"
							name="rating" value="4"> <label for="rating4">4</label> <input
							id="rating3" type="radio" name="rating" value="3" checked>
							<label for="rating3">3</label> <input id="rating2" type="radio"
							name="rating" value="2"> <label for="rating2">2</label> <input
							id="rating1" type="radio" name="rating" value="1"> <label
							for="rating1">1</label>
						</span>
					</div> -->
					<br><br>
				</div>
			</div>
		</div>

		<!-- /END THE FEATURETTES -->
		<!-- Marketing messaging and featurettes
    ================================================== -->
		<!-- Wrap the rest of the page in another container to center all the content. -->


		<div class="container marketing">

			<h2 class="sub-header">Asignaturas:</h2>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Créditos</th>
							<th>Cuatrimestre</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="y in myData2">
							<td>{{y.Nombre}}</td>
							<td>{{y.Creditos}}</td>
							<td>{{y.Cuatrimestre}}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!--<div class="row featurette">
          <h2 class="sub-header">Comentarios</h2>
          <div id="comentario">
            <h3>Nombre Usuario</h3>
            <p>esto es un Comentario.</p>
          </div>
      </div>-->

			<!-- FOOTER -->
			<footer>
				<p class="pull-right">
					<a href="#">Back to top</a>
				</p>
				<p>
					&copy; 2016 GBH Development. &middot; <a href="about.html">About</a> &middot; <a href="contact.html">Contact</a>
				</p>
			</footer>

		</div>
		<!-- /.container -->
	</div>
	<script>
		function getQueryVariable(variable) {
			var query = window.location.search.substring(1);
			var vars = query.split("&");
			for (var i = 0; i < vars.length; i++) {
				var pair = vars[i].split("=");
				if (pair[0] == variable) {
					return pair[1];
				}
			}
			return (false);
		}

		var app = angular.module('myApp', []);
		app.controller('destinoControl', function($scope, $http, $location) {
			var val = getQueryVariable("idDestino");
			$http.get("/ProyectoSoftware/SeleccionDestino?idDestino=" + val)
				.then(function(response) {
					$scope.myData = response.data.destino;
					$scope.myData2 = response.data.asignatura;
				});
		});
	</script>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>
		window.jQuery || document
			.write('<script src="../bootstrap-3.3.6/assets/js/vendor/jquery.min.js"><\/script>')
	</script>
	<script src="../bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
	<!-- Rating button -->
	<script src="js/star-rating.js" type="text/javascript"></script>
</body>

</html>
